.navbar {
	opacity: 0.6;
  	filter: alpha(opacity=60);
  	border: none;	
}

.navbar .container .navbar-brand{
	padding: 0;
}

.navbar .container .navbar-header .navbar-brand .img-responsive{
	color: #ffff;
}

.navbar .container .navbar-header .navbar-brand p{
	position: relative;
	left: 2.8vw;
	top: -3.5vh;
	font-family: 'Nunito', sans-serif;
	color: #ffff;
	font-size: 1.5em;
}

#banner {
	background-image: url("images/home/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;
	height: 80vh;
	position: relative;
}

#banner .bcontent{
	position: absolute;
	left: 75vw;
	top: 25vh;
	color: #ffff;
	text-align: justify;
}

#banner .bcontent .btn a{
	text-decoration: none;
	color: #ffff;
}

#aboutme {
	padding-top: 15vh;
}

#aboutme .row div .btn{
	margin: 4vh 0;
	padding: 1vh 0;
	padding: 1vh 4.6vw;
}

#aboutme .row div .btn a{
	text-decoration: none;
	color: #ffff;
}

#aboutme .row div p{
	text-align: justify;
	text-indent: 50px;
}

#skills {
	padding: 15vh 0;
	background-color: #000000;
}

#skills .container .row div{
margin-bottom: 	2vh;
}

#portfolio{
	padding: 15vh 0;
	background-color: #efefef;
}

#portfolio .container .row div{
	margin-bottom: 2vh;
}

#portfolio .container .row div a{
	display: flex;
	justify-content: center;
	color: #0000FF;
}

#portfolio .container .row div .img-responsive{
	margin-bottom: 2vh;
}

#contactme{
	padding: 15vh 0;
}

#contactme .container .row #map .img-responsive{
	height: 50vh;
	width: 100%;
}

#contactme .container .row #maptxt h4{
	margin: 0 0 2vh 0;
}

#footer{
	background-color: #000000;
}

#footer .row{
	margin: 0 6vw;
}

#footer .row div{
	display: flex;
	justify-content: center;
}